body{
    background-color: whitesmoke;
}
.doações{
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 5%;
    padding: 4%;
    background-color: rgb(121, 121, 200);
}
#coluna{
    display: inline-block;
    margin-top: 1%;
}

#coluna div img{
    margin: 30px;
    width: 300px;
    height: 300px;
    display: inline-block;
}


#coluna div{   
    border: groove;
    border-color: blue;
    margin: 30px;
    display: inline-block;
    padding: 4%;
    background-color: white;
    border-radius: 10%; 
}

#coluna div  p{
    color: rgb(25, 25, 74);
    text-align: center;
    font-family: Arial;
    font-size: x-large;
}
#coluna a{
    font-size: 110%;
    margin-left: 6%;
    display: block;
    padding: 3.5%;
    padding-left: 34%;
    padding-right: 40%;
    color: white;
    background-color: red;
    border-radius: 40px;
    width: 13%;
    white-space: nowrap;
}
#coluna a:hover{
    border: groove;
    border-color: black;
}
@media(min-width: 1218px){
    .coluna2{
    margin-left: 7%;
}
}
@media(max-width: 1110px){
    #coluna div{
    margin: 20px;
    padding: 4%;
}#coluna div  p{
    font-size: medium;    
}#coluna div img{
    margin: 20px;
    width: 300px;
    height: 250px;
}#coluna a{
    font-size: 90%;
    margin-left: 19%;
    padding: 3.5%;
    padding-left: 25%;
    padding-right: 35%;
}
}
@media(max-width: 999px){
    #coluna div{
    margin: 15px;
    padding: 3%;
}#coluna div  p{
    font-size: medium;    
}#coluna div img{
    margin: 20px;
    width: 270px;
    height: 250px;
}#coluna a{
    font-size: 90%;
    margin-left: 19%;
    padding: 3.5%;
    padding-left: 25%;
    padding-right: 35%;
}
}
@media(max-width: 895px){
    #coluna{margin-left: 25%;
    }
}
@media(max-width: 600px){
    #coluna{margin-left: 0%;
    }
}